<script setup lang="ts">
import { ref } from "vue";
const SText = ref("SMILE");
const Pic = ref("../../feeling_imgs/smile.png");
function FAngry() {
  SText.value = "ANGRY";
  Pic.value = "../../feeling_imgs/angry.png";
  return FAngry;
}
function FCute() {
  SText.value = "CUTE";
  Pic.value = "../../feeling_imgs/cute.png";
  return FCute;
}
function FExcited() {
  SText.value = "EXCITED";
  Pic.value = "../../feeling_imgs/excited.png";
  return FExcited;
}
function FPain() {
  SText.value = "PAIN";
  Pic.value = "../../feeling_imgs/pain.png";
  return FExcited;
}
function FShocked() {
  SText.value = "SHOCKED";
  Pic.value = "../../feeling_imgs/shocked.png";
  return FExcited;
}
function FSmile() {
  SText.value = "SMILE";
  Pic.value = "../../feeling_imgs/smile.png";
  return FSmile;
}
</script>
<template>
  <v-row>
    <v-col> <v-img :src="Pic" max-height="100%" max-width="90%"></v-img></v-col>
    <v-col>
      <div class="text-right">
        <h1 class="text-center pa-5 ma-5">{{ SText }}</h1>
        <v-btn id="btn" class="ma-2" outlined width="100%" @click="FAngry()"
          >angry
        </v-btn>
        <br />
        <v-btn id="btn" class="ma-2" outlined width="100%" @click="FCute()"
          >cute</v-btn
        >
        <br />
        <v-btn id="btn" class="ma-2" outlined width="100%" @click="FExcited()"
          >excited</v-btn
        >
        <br />
        <v-btn id="btn" class="ma-2" outlined width="100%" @click="FPain()"
          >pain</v-btn
        >
        <br />
        <v-btn id="btn" class="ma-2" outlined width="100%" @click="FShocked()"
          >shocked</v-btn
        >
        <br />
        <v-btn id="btn" class="ma-2" outlined width="100%" @click="FSmile()"
          >smile</v-btn
        >
      </div>
    </v-col>
  </v-row>
</template>

<style scoped>
#btn:focus {
  background-color: yellow;
}
</style>
