<script lang="ts" setup>
import { ref } from "vue";
const num = 0;
const length = ref(num);
</script>

<template>
  <div>
    <v-card-text>
      <v-text-field
        label="Please input number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        v-model.number="length"
      ></v-text-field>
    </v-card-text>
    <v-card-text>
      <v-row no-gutters>
        <v-col v-for="i in length" :key="i" cols="12" sm="1">
          <v-sheet class="ma-5 pa-5"> {{ i }} </v-sheet>
        </v-col>
      </v-row>
    </v-card-text>
  </div>
</template>
