<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Store = useCounterStore();
</script>
<template>
  <v-card-title primary-title class="text-left">
    First Component
    <div>{{ Store.count }}</div>
    <br />
    <v-btn @click="Store.increment()">INCREMENT</v-btn>
  </v-card-title>
</template>
