<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Store = useCounterStore();
</script>
<template>
  <v-card-title primary-title class="text-left">
    Second Component
    <div>{{ Store.count * 2 }}</div>
    <br />
    <v-btn @click="Store.decrease">DECREASE</v-btn>
  </v-card-title>
</template>
